<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>781469771810-81erg9bsurbko4bb79r2785vj9etacmp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.781469771810-81erg9bsurbko4bb79r2785vj9etacmp</string>
	<key>API_KEY</key>
	<string>AIzaSyBOuBD3FDTdUkf9BGTXuqlgemKEpA4Zm-I</string>
	<key>GCM_SENDER_ID</key>
	<string>781469771810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phomu</string>
	<key>PROJECT_ID</key>
	<string>dmhub-ede12</string>
	<key>STORAGE_BUCKET</key>
	<string>dmhub-ede12.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781469771810:ios:c0d2aa76ece0def1f2827b</string>
	<key>DATABASE_URL</key>
	<string>https://dmhub-ede12-default-rtdb.firebaseio.com</string>
</dict>
</plist>